<div class="login__forgot">
  <div class="login__head">
    <h3 class="login__title">{{ 'resetpassword.title' | translate }}</h3>
    <div class="login__desc">{{ 'resetpassword.description' | translate }}</div>
  </div>
  <div class="login__form">
    <form
      [formGroup]="formControl"
      #form="ngForm"
      (ngSubmit)="resetPassword()"
      class="login__form m-form"
      role="form"
      novalidate
      show-validation
    >
      <div class="row">
        <div class="col-sm-9">
          <lt-password-input
            name="password"
            formControlName="password"
            [placeholder]="'global.form.password.placeholder' | translate"
          ></lt-password-input>
          <div *ngIf="(form?.submitted || password.touched) && password.invalid">
            <span
              class="invalid-feedback"
              *ngIf="password.hasError('required')"
              translate="global.messages.validate.password.required"
            ></span>
            <span
              class="invalid-feedback"
              *ngIf="password.hasError('minlength')"
              translate="global.messages.validate.password.minlength"
            ></span>
            <span
              class="invalid-feedback"
              *ngIf="password.hasError('maxlength')"
              translate="global.messages.validate.password.maxlength"
            ></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control form-control-solid"
            name="confirmPassword"
            formControlName="confirmPassword"
            [placeholder]="'global.form.confirmpassword.placeholder' | translate"
          />
          <div *ngIf="(form?.submitted || confirmPassword.touched) && confirmPassword.invalid">
            <span
              class="invalid-feedback"
              *ngIf="confirmPassword.hasError('required')"
              translate="global.messages.validate.confirmpassword.required"
            ></span>
            <span
              class="invalid-feedback"
              *ngIf="confirmPassword.hasError('minlength')"
              translate="global.messages.validate.confirmpassword.minlength"
            ></span>
            <span
              class="invalid-feedback"
              *ngIf="confirmPassword.hasError('maxlength')"
              translate="global.messages.validate.confirmpassword.maxlength"
            ></span>
            <span
              class="invalid-feedback"
              *ngIf="
                confirmPassword.hasError('equalTo') &&
                !confirmPassword.hasError('minlength') &&
                !confirmPassword.hasError('required')
              "
              translate="global.messages.validate.confirmpassword.compareTo"
            ></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 login__actions">
          <button
            name="submit"
            type="submit"
            class="btn btn-primary me-3"
            translate="resetpassword.button"
            [disabled]="formControl.invalid"
          ></button>
          <button
            routerLink="/login"
            id="m_login_forget_password_cancel"
            class="btn btn-secondary btn-elevate login__btn-secondary"
          >
            {{ 'global.button.cancel' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
