{{< layout class="header text-center text-light" role="main" >}}

{{< layout class="container container-fluid" >}}

<div class="jumbotron header--jumbotron bg-dark text-dark">
  <div id="banner" class="row header--banner">
    <div class="col-md-12">
      <div class="float-left header--banner--left bannerLeft">
        <img class=" m-2 img-fluid" src="$resourcePath/images/tpd-logo.svg" alt="$decoration.bannerLeft.alt"
          width="$decoration.bannerLeft.width" height="$$decoration.bannerLeft.height">
        <div class="d-inline-block">
          <h1 class="d-inline-block">$decoration.bannerLeft.name</h1>
          <p class="lead">$config.slogan.getValue()</p>
        </div>

      </div>
    </div>
  </div>
  <a href="download.html" class="btn btn-primary btn-lg">Download</a>
</div>


{{< /layout >}}

{{< /layout >}}
