{{< layout class="highlight highlight-feature bg-primary py-5" >}}

{{< layout class="container" >}}

{{< column class="text-center" >}}

<h2 class="card-title mb-4">Our eDelivery AS4 solution key features</h2>

{{< /column >}}

{{< grid-layout number-columns="2" >}}

{{< column class="mb-4" >}}

{{% card horizontal="true" class="h-100" %}}

<card-image>
  #include( "src/site/svg/puzzle.svg" )
</card-image>
<card-body>
  <h5 class="card-title text-secondary">Fast Application Integration</h5>
  <p class="card-text">Plugin oriented architecture capable of integrating with any business application.</p>
</card-body>

{{% /card %}}

{{< /column >}}

{{< column class="mb-4" >}}

{{% card horizontal="true" class="h-100" %}}

<card-image>
  #include( "src/site/svg/24-hours.svg" )
</card-image>
<card-body>
  <h5 class="card-title text-secondary">High Availability</h5>
  <p class="card-text">High availability configuration ensure that you can always exchange messages.</p>
</card-body>

{{% /card %}}

{{< /column >}}

{{< column class="mb-4" >}}

{{% card horizontal="true" class="h-100" %}}

<card-image>
  #include( "src/site/svg/gauge.svg" )
</card-image>
<card-body>
  <h5 class="card-title text-secondary">Fast and Scalable</h5>
  <p class="card-text">Send and receive hundreds of submission per second.
    It works fast with millions of submission.</p>
</card-body>

{{% /card %}}

{{< /column >}}

{{< column class="mb-4" >}}

{{% card horizontal="true" class="h-100" %}}

<card-image>
  #include( "src/site/svg/monitor.svg" )
</card-image>
<card-body>
  <h5 class="card-title text-secondary">Monitoring</h5>
  <p class="card-text">Modern role based UI form administration and monitoring
    Configurable email alerts.</p>
</card-body>

{{% /card %}}

{{< /column >}}

{{< /grid-layout >}}

{{< /layout >}}

{{< /layout >}}
