<div class="row">
  <div class="col">
    <lt-image-input image="./assets/media/avatars/150-26.jpg" class="mx-2"></lt-image-input>
  </div>
  <div class="col">
    <lt-image-input image="./assets/media/avatars/150-5.jpg" mode="circle" class="mx-2"></lt-image-input>
  </div>
  <div class="col">
    <lt-image-input
      image="./assets/media/avatars/150-5.jpg"
      mode="circle"
      class="mx-2"
      [disabled]="true"
    ></lt-image-input>
  </div>
  <div class="col">
    <lt-image-input image="./assets/media/avatars/150-5.jpg" mode="outline" class="mx-2"></lt-image-input>
  </div>
</div>
