<ng-container *ngIf="user$ | async as user">
  <!--begin::User info-->
  <div
    class="btn btn-flex align-items-center bg-hover-white bg-hover-opacity-10 py-2 px-2 px-md-3"
    data-lt-menu-trigger="click"
    data-lt-menu-attach="parent"
    data-lt-menu-placement="bottom-end"
  >
    <!--begin::Name-->
    <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2 me-md-4">
      <span class="text-muted fs-8 fw-bold lh-1 mb-1">{{ user.displayName }}</span>
      <span class="text-white fs-8 fw-bolder lh-1">{{ highestGlobalPermission$ | async }}</span>
    </div>
    <!--end::Name-->
    <!--begin::Symbol-->
    <div class="symbol symbol-30px symbol-md-40px">
      <img [src]="user.avatarUrl" alt="image" />
    </div>
    <!--end::Symbol-->
  </div>
  <!--end::User info-->
  <div
    ltMenu
    class="
      menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg menu-state-primary
      fw-bold
      py-4
      fs-6
      w-auto
    "
  >
    <div class="menu-item px-3">
      <div class="menu-content d-flex align-items-center px-3">
        <div class="symbol symbol-50px me-5">
          <img alt="Logo" [src]="user.avatarUrl" />
        </div>

        <div class="d-flex flex-column">
          <div class="fw-bolder d-flex align-items-center fs-5">
            {{ user.displayName }}
          </div>
          <div class="align-self-start badge badge-light-success fw-bolder fs-8 px-2 py-1 my-1">
            {{ highestGlobalPermission$ | async }}
          </div>
          <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
            {{ user.email }}
          </a>
        </div>
      </div>
    </div>

    <div class="separator my-2"></div>

    <div class="menu-item px-5">
      <a routerLink="/account/profile" class="menu-link px-5" translate="account.profile.title"></a>
    </div>
    <div class="menu-item px-5 my-1">
      <a routerLink="/account/settings" class="menu-link px-5" translate="account.settings.title"></a>
    </div>

    <div class="separator my-2"></div>

    <div
      class="menu-item px-5"
      data-lt-menu-trigger="hover"
      data-lt-menu-placement="left-start"
      data-lt-menu-flip="bottom"
    >
      <a class="menu-link px-5 cursor-pointer">
        <span class="menu-title position-relative">
          Language
          <span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
            {{ language.country }}{{ ' ' }}
            <img class="w-15px h-15px rounded-1 ms-2" [src]="language.flag" />
          </span>
        </span>
      </a>

      <div class="menu-sub menu-sub-dropdown w-175px py-4">
        <div *ngFor="let l of langs" class="menu-item px-3 cursor-pointer" (click)="selectLanguage(l.lang)">
          <a class="menu-link d-flex px-5" [ngClass]="l.lang === language.lang ? 'active' : ''">
            <span class="symbol symbol-20px me-4">
              <img class="rounded-1" [src]="l.flag" />
            </span>
            {{ l.country }}
          </a>
        </div>
      </div>
    </div>

    <div class="menu-item px-5">
      <a (click)="logout()" class="menu-link px-5 cursor-pointer"> Sign Out </a>
    </div>
  </div>
</ng-container>
