<!--begin::Tables Widget 5-->
<div class="card card-xl-stretch mb-5 mb-xl-10">
  <!--begin::Header-->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Latest Products</span>
      <span class="text-muted mt-1 fw-bold fs-7">More than 400 new products</span>
    </h3>
    <div class="card-toolbar">
      <lt-nav linkClass="btn btn-sm btn-color-muted btn-active btn-active-dark fw-bolder px-4 me-1">
        <nav-link title="Month" target="#kt_table_widget_5_tab_1" [active]="true"></nav-link>
        <nav-link title="Week" target="#kt_table_widget_5_tab_2"></nav-link>
        <nav-link title="Day" target="#kt_table_widget_5_tab_3"></nav-link>
      </lt-nav>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body py-3">
    <div class="tab-content">
      <!--begin::Tap pane-->
      <div class="tab-pane fade show active" id="kt_table_widget_5_tab_1" role="tabpanel">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
            <!--begin::Table head-->
            <thead>
              <tr class="border-0">
                <th class="p-0 w-50px"></th>
                <th class="p-0 min-w-150px"></th>
                <th class="p-0 min-w-140px"></th>
                <th class="p-0 min-w-110px"></th>
                <th class="p-0 min-w-50px"></th>
              </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="./assets/media/svg/brand-logos/plurk.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Brad Simmons</a>
                  <span class="text-muted fw-bold d-block">Movie Creator</span>
                </td>
                <td class="text-end text-muted fw-bold">React, HTML</td>
                <td class="text-end">
                  <span class="badge badge-light-success">Approved</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
                  <span class="text-muted fw-bold d-block">Most Successful</span>
                </td>
                <td class="text-end text-muted fw-bold">Python, MySQL</td>
                <td class="text-end">
                  <span class="badge badge-light-warning">In Progress</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">New Users</a>
                  <span class="text-muted fw-bold d-block">Awesome Users</span>
                </td>
                <td class="text-end text-muted fw-bold">Laravel,Metronic</td>
                <td class="text-end">
                  <span class="badge badge-light-primary">Success</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
                  <span class="text-muted fw-bold d-block">Movie Creator</span>
                </td>
                <td class="text-end text-muted fw-bold">AngularJS, C#</td>
                <td class="text-end">
                  <span class="badge badge-light-danger">Rejected</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/kickstarter.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Bestseller Theme</a>
                  <span class="text-muted fw-bold d-block">Best Customers</span>
                </td>
                <td class="text-end text-muted fw-bold">ReactJS, Ruby</td>
                <td class="text-end">
                  <span class="badge badge-light-warning">In Progress</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
            </tbody>
            <!--end::Table body-->
          </table>
        </div>
        <!--end::Table-->
      </div>
      <!--end::Tap pane-->
      <!--begin::Tap pane-->
      <div class="tab-pane fade" id="kt_table_widget_5_tab_2" role="tabpanel">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
            <!--begin::Table head-->
            <thead>
              <tr class="border-0">
                <th class="p-0 w-50px"></th>
                <th class="p-0 min-w-150px"></th>
                <th class="p-0 min-w-140px"></th>
                <th class="p-0 min-w-110px"></th>
                <th class="p-0 min-w-50px"></th>
              </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/plurk.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Brad Simmons</a>
                  <span class="text-muted fw-bold d-block">Movie Creator</span>
                </td>
                <td class="text-end text-muted fw-bold">React, HTML</td>
                <td class="text-end">
                  <span class="badge badge-light-success">Approved</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
                  <span class="text-muted fw-bold d-block">Most Successful</span>
                </td>
                <td class="text-end text-muted fw-bold">Python, MySQL</td>
                <td class="text-end">
                  <span class="badge badge-light-warning">In Progress</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
                  <span class="text-muted fw-bold d-block">Movie Creator</span>
                </td>
                <td class="text-end text-muted fw-bold">AngularJS, C#</td>
                <td class="text-end">
                  <span class="badge badge-light-danger">Rejected</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
            </tbody>
            <!--end::Table body-->
          </table>
        </div>
        <!--end::Table-->
      </div>
      <!--end::Tap pane-->
      <!--begin::Tap pane-->
      <div class="tab-pane fade" id="kt_table_widget_5_tab_3" role="tabpanel">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
            <!--begin::Table head-->
            <thead>
              <tr class="border-0">
                <th class="p-0 w-50px"></th>
                <th class="p-0 min-w-150px"></th>
                <th class="p-0 min-w-140px"></th>
                <th class="p-0 min-w-110px"></th>
                <th class="p-0 min-w-50px"></th>
              </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/kickstarter.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Bestseller Theme</a>
                  <span class="text-muted fw-bold d-block">Best Customers</span>
                </td>
                <td class="text-end text-muted fw-bold">ReactJS, Ruby</td>
                <td class="text-end">
                  <span class="badge badge-light-warning">In Progress</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
                  <span class="text-muted fw-bold d-block">Movie Creator</span>
                </td>
                <td class="text-end text-muted fw-bold">AngularJS, C#</td>
                <td class="text-end">
                  <span class="badge badge-light-danger">Rejected</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">New Users</a>
                  <span class="text-muted fw-bold d-block">Awesome Users</span>
                </td>
                <td class="text-end text-muted fw-bold">Laravel,Metronic</td>
                <td class="text-end">
                  <span class="badge badge-light-primary">Success</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="symbol symbol-45px me-2">
                    <span class="symbol-label">
                      <img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="" />
                    </span>
                  </div>
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
                  <span class="text-muted fw-bold d-block">Most Successful</span>
                </td>
                <td class="text-end text-muted fw-bold">Python, MySQL</td>
                <td class="text-end">
                  <span class="badge badge-light-warning">In Progress</span>
                </td>
                <td class="text-end">
                  <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
                    <span class="svg-icon svg-icon-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect
                          opacity="0.5"
                          x="18"
                          y="13"
                          width="13"
                          height="2"
                          rx="1"
                          transform="rotate(-180 18 13)"
                          fill="black"
                        />
                        <path
                          d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </a>
                </td>
              </tr>
            </tbody>
            <!--end::Table body-->
          </table>
        </div>
        <!--end::Table-->
      </div>
      <!--end::Tap pane-->
    </div>
  </div>
  <!--end::Body-->
</div>
<!--end::Tables Widget 5-->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Navigation bar</h3>
  </div>
  <div class="card-body">
    <lt-nav
      class="nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5"
      linkClass="text-active-primary ms-0 me-10 py-5 fw-bolder"
    >
      <nav-link
        route="overview"
        title="Overview"
        icon="icons/duotune/general/gen026.svg"
        iconClass="svg-icon-2x me-1"
        class="mt-2"
      ></nav-link>
      <nav-link route="settings" title="Settings" class="mt-2"></nav-link>
      <nav-link route="security" title="Security" class="mt-2"></nav-link>
      <nav-link route="billing" title="Billing" class="mt-2"></nav-link>
      <nav-link route="statements" title="Statements" class="mt-2"></nav-link>
      <nav-link route="referrals" title="Referrals" class="mt-2"></nav-link>
      <nav-link route="api-keys" title="API Keys" class="mt-2"></nav-link>
    </lt-nav>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Tab</h3>
  </div>
  <div class="card-body">
    <lt-nav
      class="nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5"
      linkClass="text-active-primary ms-0 me-10 py-5 fw-bolder"
    >
      <tab-pane heading="Overview" [active]="true">
        <p>
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure
          adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet
          duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
        </p>
      </tab-pane>
      <tab-pane heading="Settings"
        ><p>
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis
          labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat
          cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
          aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna
          irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate
          nisi commodo ea sit eu.
        </p></tab-pane
      >
      <tab-pane heading="Security"
        ><p>
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. Eu ex
          commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. eserunt officia id
          Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. Fugiat
          ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip
          incididunt ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim
          nostrud labore eiusmod et amet.
        </p></tab-pane
      >
      <tab-pane heading="Billing"
        ><p>
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure
          adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet
          duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
        </p></tab-pane
      >
      <tab-pane heading="Statements"
        ><p>
          Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit. Magna duis
          labore cillum sint adipisicing exercitation ipsum. Nostrud ut anim non exercitation velit laboris fugiat
          cupidatat. Commodo esse dolore fugiat sint velit ullamco magna consequat voluptate minim amet aliquip ipsum
          aute laboris nisi. Labore labore veniam irure irure ipsum pariatur mollit magna in cupidatat dolore magna
          irure esse tempor ad mollit. Dolore commodo nulla minim amet ipsum officia consectetur amet ullamco voluptate
          nisi commodo ea sit eu.
        </p></tab-pane
      >
      <tab-pane heading="Referrals"
        ><p>
          Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do. Eu ex
          commodo veniam Lorem aliquip laborum occaecat qui Lorem esse mollit dolore anim cupidatat. eserunt officia id
          Lorem nostrud aute id commodo elit eiusmod enim irure amet eiusmod qui reprehenderit nostrud tempor. Fugiat
          ipsum excepteur in aliqua non et quis aliquip ad irure in labore cillum elit enim. Consequat aliquip
          incididunt ipsum et minim laborum laborum laborum et cillum labore. Deserunt adipisicing cillum id nulla minim
          nostrud labore eiusmod et amet.
        </p></tab-pane
      >
      <tab-pane heading="API Keys"
        ><p>
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
          Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure
          adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet
          duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
        </p></tab-pane
      >
    </lt-nav>
  </div>
</div>
