<div class="modal-header">
  <h4
    class="modal-title"
    id="modal-title"
    [innerHTML]="'users.changepassword.title' | translate: { user: user?.displayName }"
  ></h4>
</div>
<form
  [formGroup]="formControl"
  #form="ngForm"
  role="form"
  (ngSubmit)="updatePassword()"
  class="form"
  novalidate
  show-validation
>
  <div class="modal-body" id="modal-body">
    <div class="row mb-4">
      <label class="form-label required" translate="global.form.newpassword"></label>
      <lt-password-input
        type="password"
        controlClass="form-control-solid"
        formControlName="password"
        [placeholder]="'global.form.newpassword.placeholder' | translate"
      ></lt-password-input>
      <div *ngIf="(form.submitted || password.touched) && password.invalid">
        <p
          class="error invalid-feedback"
          *ngIf="password.hasError('required')"
          translate="global.messages.validate.newpassword.required"
        ></p>
        <p
          class="error invalid-feedback"
          *ngIf="password.hasError('minlength')"
          translate="global.messages.validate.newpassword.minlength"
        ></p>
        <p
          class="error invalid-feedback"
          *ngIf="password.hasError('maxlength')"
          translate="global.messages.validate.newpassword.maxlength"
        ></p>
      </div>
    </div>
    <div class="row mb-4">
      <form-text
        type="password"
        controlClass="form-control-solid"
        formControlName="passwordConfirm"
        [label]="'global.form.confirmnewpassword' | translate"
        [placeholder]="'global.form.confirmnewpassword.placeholder' | translate"
      ></form-text>
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="m_change_password_submit"
      type="submit"
      class="btn btn-primary me-3"
      translate="global.button.save"
    ></button>
    <a
      href="#"
      id="m_change_password_cancel"
      class="link-primary"
      (click)="bsModalRef.hide()"
      translate="global.button.cancel"
    ></a>
  </div>
</form>
