<div class="modal-header">
  <h4 class="modal-title">Key Store Notification</h4>
</div>
<form name="theForm" #form="ngForm" [formGroup]="theForm" (ngSubmit)="save()" novalidate show-validation>
  <div id="m_notification_modal" class="modal-body">
    <div class="row mb-4">
      <form-checkbox
        controlClass="form-check-solid"
        formControlName="enable"
        label="Enable Notification"
      ></form-checkbox>
    </div>
    <div class="row mb-4">
      <form-text
        type="email"
        label="Contact Email"
        controlClass="form-control-solid"
        formControlName="contact"
        placeholder="Contact Email Required"
        helpText="The email used to notify when a certificate expire."
      ></form-text>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary me-3" translate="global.button.save"></button>
    <a href="#" class="link link-primary" (click)="onClose()" translate="global.button.cancel"></a>
  </div>
</form>
