<div class="card w-650px my-3">
  <div class="card-header">
    <div class="card-title"><h2>Accordion close other</h2></div>
  </div>
  <div class="card-body">
    <lt-accordion [closeOthers]="true" [mode]="['icon-toggle', 'borderless']" togglePosition="left" class="py-2">
      <lt-accordion-item
        headerClass="ps-4 py-3"
        icon="las la-user-check fs-1"
        heading="1. Client Information"
        [isOpen]="true"
      >
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
      <lt-accordion-item headerClass="ps-4 py-3" icon="las la-podcast fs-1" heading="2. Account Setup">
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
      <lt-accordion-item headerClass="ps-4 py-3" icon="las la-rss fs-1" heading="3. Billing Setup">
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
    </lt-accordion>
  </div>
</div>
<div class="card w-650px my-3">
  <div class="card-header">
    <div class="card-title"><h2>Accordion close other to false</h2></div>
  </div>
  <div class="card-body">
    <lt-accordion [closeOthers]="false" [mode]="['icon-toggle', 'borderless']" togglePosition="right" class="py-2">
      <lt-accordion-item
        headerClass="pe-4 py-3"
        icon="las la-user-check fs-1"
        heading="1. Client Information"
        [isOpen]="true"
      >
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
      <lt-accordion-item headerClass="pe-4 py-3" icon="las la-podcast fs-1" heading="2. Account Setup">
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
      <lt-accordion-item headerClass="pe-4 py-3" icon="las la-rss fs-1" heading="3. Billing Setup">
        <!--begin::Content-->
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds the appropriate classes that we use to style each element. These classes control the overall appearance, as
        well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <!--end::Content-->
      </lt-accordion-item>
    </lt-accordion>
  </div>
</div>
