<form
  [formGroup]="formControl"
  #form="ngForm"
  (ngSubmit)="changePassword()"
  role="form"
  novalidate
  show-validation
  class="form"
>
  <!-- BEGIN PORTLET -->
  <lt-portlet id="m-portlet_change_password">
    <lt-portlet-head [title]="'account.password.title' | translate"> </lt-portlet-head>
    <!-- BEGIN PORTLET BODY -->
    <lt-portlet-body>
      <div>
        <!-- BEGIN SECTION -->

        <ng-template #alert></ng-template>

        <!-- END SECTION -->
        <div *ngIf="(readonly | async) === false">
          <div class="row mb-4">
            <div class="offset-lg-2 col-md-8">
              <form-text
                [label]="'global.form.currentpassword' | translate"
                type="password"
                controlClass="form-control-solid"
                [icon]="svgIcons.Simple.general.shieldProtected"
                iconPosition="start"
                name="password"
                formControlName="password"
                [placeholder]="'global.form.currentpassword.placeholder' | translate"
                [autocomplete]="false"
              ></form-text>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-lg-2 col-md-8">
              <label class="form-label required" translate="global.form.newpassword"></label>
              <lt-password-input
                type="password"
                controlClass="form-control form-control-solid"
                name="newpassword"
                [placeholder]="'global.form.newpassword.placeholder' | translate"
                formControlName="newpassword"
              ></lt-password-input>
              <div *ngIf="(form?.submitted || newpassword.touched) && newpassword.invalid">
                <p
                  class="invalid-feedback"
                  *ngIf="newpassword.hasError('required')"
                  translate="global.messages.validate.newpassword.required"
                ></p>
                <p
                  class="invalid-feedback"
                  *ngIf="newpassword.hasError('minlength')"
                  translate="global.messages.validate.newpassword.minlength"
                ></p>
                <p
                  class="invalid-feedback"
                  *ngIf="newpassword.hasError('maxlength')"
                  translate="global.messages.validate.newpassword.maxlength"
                ></p>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="offset-lg-2 col-md-8">
              <form-text
                [label]="'global.form.confirmnewpassword' | translate"
                type="password"
                controlClass="form-control-solid"
                [icon]="svgIcons.Simple.general.shieldCheck"
                iconPosition="start"
                name="confirmpassword"
                formControlName="confirmpassword"
                [placeholder]="'global.form.confirmnewpassword.placeholder' | translate"
                [autocomplete]="false"
              ></form-text>
            </div>
          </div>
        </div>
      </div>
      <!-- END div#m_portlet_change_password  -->
    </lt-portlet-body>
    <!-- END PORTLET BODY -->
    <!-- BEGIN PORTLET FOOTER -->
    <lt-portlet-foot>
      <div class="row">
        <div class="col offset-lg-2">
          <button
            type="submit"
            class="btn btn-success"
            *ngIf="(readonly | async) === false"
            translate="global.button.save"
          ></button>
        </div>
      </div>
    </lt-portlet-foot>
    <!-- END PORTLET FOOTER -->
  </lt-portlet>
  <!-- END PORTLET -->
</form>
