<!--begin::Authentication - Password reset -->
<!--begin::Form-->
<form
  [formGroup]="formControl"
  #form="ngForm"
  (ngSubmit)="requestResetPassword()"
  class="form w-100"
  novalidate="novalidate"
  id="kt_password_reset_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-dark mb-3">{{ 'forgotpassword.title' | translate }}</h1>
    <!--end::Title-->
    <!--begin::Link-->
    <div class="text-gray-400 fw-bold fs-4">{{ 'forgotpassword.description' | translate }}</div>
    <!--end::Link-->
  </div>
  <!--begin::Heading-->
  <!--begin::Input group-->
  <div class="fv-row mb-10">
    <label class="form-label fw-bolder text-gray-900 fs-6">{{ 'global.form.email' | translate }}</label>
    <input
      class="form-control form-control-solid"
      type="text"
      [placeholder]="'global.form.username.placeholder' | translate"
      name="username"
      formControlName="username"
      autocomplete="off"
    />
    <div *ngIf="(form?.submitted || username.touched) && username.invalid">
      <div
        id="email-required-error"
        *ngIf="username.hasError('required')"
        class="invalid-feedback"
        translate="global.messages.validate.username.required"
      ></div>
    </div>
  </div>
  <!--end::Input group-->
  <!--begin::Actions-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button type="submit" id="m-password_reset_submit" class="btn btn-lg btn-primary fw-bolder me-4">
      <span class="indicator-label">{{ 'forgotpassword.button' | translate }}</span>
      <span [ngClass]="{ 'd-none': !loading }"
        >Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span
      ></span>
    </button>
    <a [routerLink]="['/login']" class="btn btn-lg btn-light-primary fw-bolder">{{
      'global.button.cancel' | translate
    }}</a>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->
<!--end::Authentication - Password reset-->
