<!-- Team Modal -->
<div class="modal-header about-dialog">
  <h3>TPD Submission <span class="color-highlight">Tool</span></h3>
</div>
<div class="modal-body team-dialog">
  <table>
    <tr>
      <td valign="top">Developers :</td>
      <td>
        <table cell-padding="10">
          <tr>
            <td>
              <img
                src="http://www.gravatar.com/avatar/c57c0e554841d7486d0f0162f6f2f529?d=mm&s=48"
                style="margin: 0px 10px 0px 0px"
              />
            </td>
            <td>Christophe Friederich<br />christophe.friederich@pmi.com</td>
          </tr>
          <tr>
            <td>
              <img
                src="http://www.gravatar.com/avatar/7cb5f60fe7b857bb3f188ce5dfe4fd2c?d=mm&s=48"
                style="margin: 10px 10px 0px 0px"
              />
            </td>
            <td>Pascal Schmid<br />pascal.schmid@contracted.pmi.com</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top">Contributors :</td>
      <td>
        <table cell-padding="10">
          <tr>
            <td>
              <img
                src="http://www.gravatar.com/avatar/7c947d8d973815c2ae2a03131420d1a8?d=mm&s=48"
                style="margin: 10px 10px 0px 0px"
              />
            </td>
            <td>Sébastien Siret<br />sebastien.siret@pmi.com</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="close()">Close</button>
</div>
